/*
 * Skin: website theme
 * ----------
 */
.skin-blue .main-header .navbar {
  background-color: #484848;
}
.skin-blue .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-blue .main-header .navbar .nav > li > a:hover,
.skin-blue .main-header .navbar .nav > li > a:active,
.skin-blue .main-header .navbar .nav > li > a:focus,
.skin-blue .main-header .navbar .nav .open > a,
.skin-blue .main-header .navbar .nav .open > a:hover,
.skin-blue .main-header .navbar .nav .open > a:focus,
.skin-blue .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-blue .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-blue .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #367fa9;
}
@media (max-width: 767px) {
  .skin-blue .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-blue .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-blue .main-header .navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}
.skin-blue .main-header .logo {
  background-color: #ffffff;
  color: #04548b;
  border-bottom: 0 solid transparent;
}
.skin-blue .main-header .logo:hover {
  background-color: #fff;
}
.skin-blue .main-header li.user-header {
  background-color: #3c8dbc;
}
.skin-blue .content-header {
  background: transparent;
}
.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
  background-color: #62a1db;
}
.skin-blue .user-panel > .info,
.skin-blue .user-panel > .info > a {
  color: #fff;
}
.skin-blue .sidebar-menu > li.header {
  color: #ffffff;
  background: #46739e;
}
.skin-blue .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #4f81b0;
  border-left-color: #ffffff;
}
.skin-blue .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.skin-blue .sidebar a {
  color: #ecfcff;
}
.skin-blue .sidebar a:hover {
  text-decoration: none;
}
.skin-blue .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-blue .treeview-menu > li.active > a,
.skin-blue .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-blue .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-blue .sidebar-form input[type="text"],
.skin-blue .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-blue .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-blue .sidebar-form input[type="text"]:focus,
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-blue .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-blue.layout-top-nav .main-header > .logo {
  background-color: #3c8dbc;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-blue.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}

.navbar-nav > li > a{padding-top: 25px; padding-bottom: 25px; font-size: 16px;}

/* my css start here */
.m-b{margin-bottom: 15px;}
.m-b-sm{margin-bottom: 10px;}
.dataTables_wrapper{clear: both;}
.inline-area{display: inline-block;}

.box-header{padding: 10px 71px 10px 10px;}

.voipFrom {clear: both;}
.voipFrom h4{background-color: #dddddd; color: #22878e; padding: 10px;}
.voipFrom .control-label{text-align: left;}
.voipFrom .form-group {padding-top: 12px; padding-bottom: 12px; margin-bottom: 0;}
.voipFrom .form-group:nth-child(odd){background-color: #f4f4f4;}
.voipFrom .form-group:nth-child(even){background-color: #ffffff;}
.voipFrom .form-group{margin-right: 0; margin-left: 0;}
.voipFrom .vRadio{margin-bottom: 0px; margin-top: 8px;}
.icheckbox_minimal-blue, .iradio_minimal-blue{margin-top: -4px;}

ul.numBtn{margin: 0; padding: 0;}
ul.numBtn li{list-style: none; margin-top:8px;}
ul.numBtn li:first-child{margin-top: 0px;}

.offerPage{padding-top: 25px; padding-bottom: 25px;}
.offerPage i{float: left; margin: 0 15px 15px 0; padding: 0;}
.offerPage h3{margin: 0 0 5px; padding: 0; font-size: 18px; color: #ff002f;}
.offerPage .col-md-4{padding-top: 15px; padding-bottom: 25px;}

.row.vertical-divider {
  overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
  padding-bottom: 100px;
  margin-bottom: -100px;
  border-left: 1px solid #F2F7F9;
  border-right: 1px solid #F2F7F9;
}
.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}

table.dataTable{margin-bottom: 10px !important;}
.content-wrapper{clear: both;}

/* login section page */
.loginHead .header_bar{padding-top: 15px; padding-bottom: 15px;
-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1),0 1px 10px rgba(0,0,0,0.1);
-moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1),0 1px 10px rgba(0,0,0,0.1);
box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1),0 1px 10px rgba(0,0,0,0.1);
}

.loginWrap{margin-top: 20px; margin-bottom: 50px;}
.login-area{float: left; margin-top: 5%; width: 100%;}
.login-box{
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    border-radius: 4px;
    text-align: left;
    padding:20px 20px 30px; float: left;
    border: 1px solid #ddd; width: 100%;
}
.login-header{margin-top:0px; border-bottom: 2px #ccc solid; padding-bottom: 5px; margin-bottom: 30px;}
.login-header img{max-width: 25%;}
.form-horizontal .form-group{margin-bottom: 10px;} 
.login-area .logoImg{ text-align: center; margin-bottom: 15px;}
.login-area .logoImg img{max-width: 100%; max-height: 150px;}
.login-area .sbutton{margin-bottom: 10px;}
.login-area .control-label{ text-align: right; margin-top: 5px;}
.login-area .info{text-align: center; color: red; font-weight: bold;}

.bg-lightgray{position: fixed; right: 0; left: 0; bottom:0; z-index: 1030; margin-bottom: 0; min-height: 40px;
padding-right: 20px; padding-left: 20px;
background-color: #fafafa;
background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
background-image: -o-linear-gradient(top,#fff,#f2f2f2);
background-image: linear-gradient(to bottom,#fff,#f2f2f2);
background-repeat: repeat-x;
border: 1px solid #d4d4d4;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}
.bg-lightgray .footer_terms{padding-top: 15px; padding-bottom: 15px; text-align: right;}
.bg-lightgray .footer_terms ul{margin: 0 15px; padding: 0;}
.bg-lightgray .footer_terms ul li{margin: 0 2px; padding: 0; display: inline-block; list-style:none;}
.bg-lightgray .footer_terms ul li:first-child{position: relative; top:-6px; font-weight: bold; margin-right: 10px;}
.bg-lightgray .footer_terms ul li i{font-size: 30px;}

/* Bill Summary */
.view-bill{ border: solid 4px #355586; text-align: center; padding: 15px 15px 0px; 
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%; width: 140px; height: 140px; margin:0 auto 15px;
}
.view-bill p{ margin: 0 0 10px; padding: 0; font-size: 13px !important;}
.view-bill > p{margin-top: 10px;}
.view-bill p.two{ font-size: 20px !important; color: #355586;}
.view-bill p a{ color: red; }

.bill-date{width: 100%; margin: 0; padding: 0; float: left;}
.bill-date .one{ display: block; float: left; }
.bill-date .two{display: block; float: right; font-weight:bold;}

.view-bill-two{ border: solid 4px #cccccc;}
.view-bill-two > p:nth-child(1){margin-top: 20px;}
.go-bill{ text-align: center; padding-top: 60px; padding-bottom: 60px; min-height: 98px;}
.go-bill a{ color: red; }
.go-bill .red{ color: #ffffff; margin-right: 0; background-color: #e30000; border: solid 1px #e30000;}

.pending-bill-two{margin: 0; padding: 0; width: 100%;}
.pending-bill-two h4{ color: #004080; text-decoration: underline; margin-top: 0;}
.pending-bill-two i.phone{ width: 56px; height: 56px; display: block; background: url(../../images/phonetalk-icon.jpg) no-repeat; margin: 22px auto 10px;}
.pending-bill-two .offers-section a{ color: red; }
.pending-bill-two .talk{ background-color: #f2f2f2; padding: 15px 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.pending-bill-two .talk i.mobile{ width: 16px; height: 30px; float: left; margin-right: 15px; background: url(../../images/iphone-icon.jpg) no-repeat;}
.pending-bill-two p{text-align: center;}
.pending-bill-two h3{font-size: 24px; font-weight: bold;}
.pending-bill-two ul{margin: 0; padding: 0;}
.pending-bill-two ul li{list-style: none; margin-top: 5px;}
.pending-bill-two ul li:first-child{margin-top: 0;}

.offers-section h5{font-size: 24px; font-weight: bold;}
.offers-section .talk{ background-color: #f2f2f2; padding: 15px 20px; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.offers-section .talk i.mobile{width: 16px; height: 30px; float: left; margin-right: 15px; background: url(../../images/iphone-icon.jpg) no-repeat;}

/*-- my bill section css --*/
.bill-summary-widget{float:left; width:74%;}
.my-bills-sidebar{float:right; width:24%;}
.bill-summary{float:left; width:100%; border:1px solid #ccc; box-sizing:border-box; -webkit-border-radius: 4px 4px 4px 4px; border-radius:4px 4px 4px 4px;}
.bill-summary-title{display:block; background:url(../img/bill-summary-head-bg.png) repeat-x; -webkit-border-radius: 4px 4px 0 0; border-radius:4px 4px 0 0; font-size:15px; font-weight:600; padding:10px; position:relative; border-bottom:1px solid #ccc; z-index:1;}
.bill-summary-title:after {border-radius: 50%; box-shadow: 0 18px 5px rgba(0, 0, 0, 0.3); content: ""; height: 2px; left: 0; margin: 0 auto; position: absolute; right: 0; top: 24px; width: 70%; z-index: -1;}
.bill-summary-details{width:100%; float:left;}
.bill-summary-details > .col{width:33%; float:left; display:block; /*display:flex; align-items:center;*/ box-sizing:border-box; padding:10px; min-height:85px; vertical-align:middle; text-align:left;}
.bill-date > span{display:inline-block; padding:20px 20px 0 0; vertical-align:top;}
.calender-date{display:inline-block; width:60px;}
.calender-date > .cd-month{display:block; text-align:center; background:#cc0000; color:#fff; font-size:12px; font-style:italic; padding:2px; -webkit-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0;}
.calender-date > .cd-date{display:block; text-align:center; background:url(../img/calender-large-date-bg.png) repeat-x; color:#666; font-size:14px; font-style:italic; padding:5px 0 8px 0; text-align:center; border:1px solid #a3a3a3; border-top:0; -webkit-border-radius: 0 0 4px 4px;
border-radius: 0 0 4px 4px;}
.payment-date > span{display:block; padding:12px 0 0 0;}
.payment-date > strong{font-size:18px; font-style:italic; font-weight:500; display:block;}
.bill-period > span{display:block; padding:12px 0 0 0;}
.bill-period > strong{font-size:18px; font-style:italic; font-weight:500; display:block;}
.bor-rt-1{border-right:1px solid #ddd;}
.bor-lt-1{border-left:1px solid #ddd;}
.bill-last-due{background:#ededed; padding:10px; float:left; width:100%; box-sizing:border-box; position:relative; border-top:1px solid #ccc; z-index:1; border-bottom:1px solid #f8f8f8;}
.bill-last-due:before {border-radius: 50%; box-shadow: 0 18px 5px rgba(0, 0, 0, 0.3); content: ""; height: 2px; left: 0; margin: 0 auto; position: absolute; right: 0; top:-20px; width: 70%; z-index: -1;}
.bill-last-due > strong{float:right; font-size:14px;}
.bill-package{background:#ededed; padding:10px; float:left; width:100%; box-sizing:border-box; border-bottom:1px solid #f8f8f8;}
.bill-package > strong{float:right; font-size:14px;}
.bill-other-charges{background:#ededed; padding:10px; float:left; width:100%; box-sizing:border-box; border-bottom:1px solid #f8f8f8;}
.bill-other-charges > strong{float:right; font-size:14px;}
.bill-total-due{background:#fff; padding:10px; float:left; width:100%; box-sizing:border-box; border-bottom:1px solid #e0e0e0; border-top:1px solid #e0e0e0; font-size:15px; font-weight:bold;}
.bill-total-due > strong{float:right;}
.bill-make-payment{background:url(../img/bill-summary-bot-bg.png) repeat-x; padding:8px; float:left; width:100%; box-sizing:border-box;}
.bill-make-payment > button{background:url(../img/payment-btn-bg.png) repeat-x; font-style:12px; font-style:italic; color:#fff; padding:4px 12px; border-radius:4px; border:0; float:right;}

.bill-breakdown{display:block; float:left; padding:30px 0 10px 0;}
.breakdown-ico{display:block; float:left; background:url(../img/bill-breakdown.png) no-repeat; max-width:50px; width:6%; min-height:38px;}
.breakdown-body{display:block; float:left; width:94%;}
.breakdown-body > h2{font-size:14px; color:#333333; margin:0; padding:0; line-height:normal; font-weight:600;}
.breakdown-body > p{font-size:12px; color:#333333; margin:5px 0 10px 0; line-height:normal;}

.payment-widget{float:left; width:100%; border:1px solid #cccccc; -webkit-border-radius:4px; border-radius:4px; margin:10px 0;}
.payment-widget > .payment-widget-head{display:block; padding:10px; background:url(../img/grey-heading-bg.png) repeat-x; color:#fff; font-size:15px; -webkit-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0;}
.payment-widget > .payment-widget-head > span{float:right; font-size:12px;}
.payment-widget > .payment-widget-row{display:block; padding:10px; background:#ededed; border-bottom:1px solid #f8f8f8; float:left; width:100%; box-sizing:border-box;}
.payment-widget > .payment-widget-row > a{color:#d1005b;}
.payment-widget > .payment-widget-row-head{display:block; padding:10px; background:#dbdbdb; border-bottom:1px solid #f8f8f8; font-weight:bold;float:left; width:100%; box-sizing:border-box;}
.payment-widget > .payment-widget-row-head > span{float:right;}
.col50{float:left; width:50%;}
.col100{float:left; width:100%;}

.payment-widget > .payment-widget-row > strong{float:right;}
.payment-widget > .total-payment{font-size:15px; background:#fff;}
.payment-widget > .footer-row{font-size:16px; background:#fafafa; font-weight:600; -webkit-border-radius:0 0 4px 4px; border-radius:0 0 4px 4px; border-top:2px solid #dbdbdb;}

/*--- Sidebar ---*/
.my-bills{float:left; width:100%; border:1px solid #ccc; -webkit-border-radius:4px; border-radius:4px;}
.my-bills > .row-head{float:left; width:100%; padding:10px; background:url(../img/light-grey-shade.png) repeat-x; font-size:15px; box-sizing:border-box; -webkit-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0;}
.my-bills > .row-mid{float:left; width:100%; padding:10px; box-sizing:border-box; background:#fff;}
.calender-col{float:left; width:35%;}
.calender-col-prev{float:left; width:35%; background:#dbdbdb; padding:10px; box-sizing:border-box; min-height:85px;}
.calender-col > .calender-date{display:inline-block; width:45px;}
.calender-col > .calender-date > .cd-month{display:block; text-align:center; background:#cc0000; color:#fff; font-size:12px; font-style:italic; padding:2px; -webkit-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0;}
.calender-col > .calender-date > .cd-date{display:block; text-align:center; background:url(../img/calender-large-date-bg.png) repeat-x; color:#666; font-size:16px; font-style:italic; padding:5px 4px 4px 0; text-align:center; border:1px solid #a3a3a3; border-top:0; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;}
.calender-col-prev > .calender-date{display:inline-block; width:45px;}
.calender-col-prev > .calender-date > .cd-month{display:block; text-align:center; background:#666666; color:#fff; font-size:12px; font-style:italic; padding:2px; -webkit-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0;}
.calender-col-prev > .calender-date > .cd-date{display:block; text-align:center; background:url(../img/calender-large-date-bg.png) repeat-x; color:#666; font-size:16px; font-style:italic; padding:5px 4px 4px 0; text-align:center; border:1px solid #a3a3a3; border-top:0; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;}
.mar-top-30{margin-top:30px;}
.nopad{padding:0 !important;}
.bdr-bt-wh{border-bottom:1px solid #ffffff;}
.payment-info{float:right; width:65%;}
.payment-info > big{font-size:16px; font-weight:600;}
.payment-info a{color:#d1005b;}
.payment-info-prev{float:right; width:65%; background:#ededed; padding:10px; box-sizing:border-box; min-height:85px;}
.payment-info-prev > big{font-size:16px; font-weight:600;}
.payment-info-prev a{color:#d1005b;}
.row-help{float:left; width:100%; padding:10px; box-sizing:border-box; background:#fff;}
.row-help > ul{list-style:none; padding:0; margin:0;}
.row-help > ul > li{padding:10px; display:block; float:left; border-bottom:1px dotted #ababab; width:100%; box-sizing:border-box;}
.row-help > ul > li:last-child{border-bottom:0;}

.progress {
    overflow: hidden;
    height: 10px;
    margin-bottom: 10px;
    background-color: #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }
.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 10px;
    color: #ffffff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
    }

.progress-red{background-color: red;}
.releaseDid{display: none;}

/*new error page css*/
#loginError{
    float:left;
    width: 100%;
    margin-top:50px;
    margin-bottom: 450px;
    position: relative;
}
.login-area{margin-left:0px; margin-top: 5%; position: absolute; top:0px; left:50%;}
.errorArea{padding: 35px; text-align:center;}
p.error-sorry{font-size: 20px; margin-bottom: 30px;}
p.error-small{ font-size: 13px; font-weight: bold; margin-bottom: 15px;}
#loginError .errorArea .errorLogo{}
#loginError .errorArea .errorLogo a{border: none;}
#footer{text-align:center;}

@media screen and (min-width: 980px) {
  hr.formobile{display: none;}
  .webNav{display: block;}
  .mobileNav{display: none;}
}

@media screen and (max-width: 980px) {
  .offerPage i{float: none; display: inline-block; margin: 0 auto;}
  .offerPage .row div{text-align:center;}
  .webNav{display: none;}

  .mobileNav{display: block; clear: both; margin: 0 15px;}
  .mobileNav li{width: 50%; float: left;}
  .mobileNav li a{padding: 10px; font-size: 14px;}
  hr.formobile{clear: both;}
}

@media screen and (max-width: 768px) {
  /*.tableResponsive{width: 100%; overflow-y: scroll; overflow-x:none; margin: 0; padding: 0;}*/

  .offerPage i{float: none; display: inline-block; margin: 0 auto;}
  .main-sidebar, .left-side{padding-top: 268px;}

  hr.formobile{clear: both;}
}
