/* invoice section css */
.invoice-box{max-width:900px; margin:0 auto 50px; padding:0; font-size: 10.5pt; line-height:24px; font-family:'Calibri Bold', Arial, sans-serif; color:#000;}
.clearfix{clear: both; margin: 0; padding: 0;}

/*-- new css start here --*/
.invoiceHead{margin: 0; padding: 0 0 15px; width: 100%; border-bottom: solid 1px #eee; float: left;}
.invoiceHead .logo{ float: left; /*width: 70%;*/ margin: 0; padding: 0; }
.invoiceHead .topAddress{font-size: 10.5pt; line-height: 18px; float: left; /*width: 30%;*/}
.invoiceHead .topAddress h1{margin: 0; padding: 0; font-size: 18pt; margin-bottom: 10px;}

.allAdress {margin: 0; padding: 20px 0 0; width: 100%; float: left;}
.allAdress .addressLeft{float: left; /*width: 50%;*/ margin: 0; padding: 0;}
.allAdress .addressRight{float: right; /*width: 50%;*/ margin: 0; padding: 0; text-align: right; font-style: italic; font-weight: bold;}
.invoice{margin-bottom: 0px;}

.billDetails{margin: 0 0 40px; padding: 20px 0 20px; width: 100%; float: left;}
.billDetails .billleft{float: left; width: 594px; margin: 0; padding: 0; border-right: solid 2px #e5e5e5; padding-right: 100px;}
.billDetails .billright{float: left; width: 198px; margin: 0; padding: 0;}

.billDetails .billleft h2{margin:0; padding: 5px; font-size: 12pt; border: solid 1px #dfdfdf; float: left; width: 582px; background-color: #dbdbdb;
 border-radius: 5px 5px 0px 0px;
}
.billDetails .billleft .billsumm{margin: 0; padding: 6px 5px; float: left; width: 100%;}
.billDetails .billleft .billsumm span:first-child{float: left;}
.billDetails .billleft .billsumm span.price{float: right; padding-right: 40px;}
.billDetails .billleft .billsumm.total{background-color: #cbcbcb; margin-bottom: 20px;}
.billDetails .billleft .billsumm.total2{background-color: #cbcbcb;}
.billDetails .billleft .youPaymentText{font-style: 10px; margin:20px 0 0 140px; width: 335px; line-height: 18px; display: inline-block;}

.billDetails table{border-collapse: collapse;}
.billDetails table table{border: solid 1px #dfdfdf;}
.billDetails table table tr td{padding: 5px;}
.billDetails table tr.total td{background-color: #cbcbcb !important; margin-bottom: 20px; font-weight: 600;}
.billDetails table table tr:nth-child(odd) td{background-color: #f5f5f5;}

.billDetails .rightBox{ width: 175px; border: solid 1px #e5e5e5; margin-top: 10px; padding: 5px; font-size: 9pt; line-height: 18px; font-weight: bold; float: right; clear: both;}
.billDetails .rightBox p{margin: 5px 0 0 0;}
.pageFooter{border-top: solid 1px #e5e5e5; padding: 5px; font-size: 9pt; line-height: 18px; font-weight: bold; float: left; width: 100%;}

.invoiceHeadtow{margin: 0; padding: 0 0 15px; width: 100%; border-bottom: solid 1px #eee; float: left;}
.invoiceHeadtow .title{float: left; width: 720px; margin: 0; padding: 0;}
.invoiceHeadtow .headaddress{float: left; width: auto; margin: 0; padding: 0;}
.invoiceHeadtow .headaddress h1{margin: 0; padding: 0; font-size: 18pt; margin-bottom: 10px;}
.invoice-box .broad{text-align: right; widows: 100%; margin: 0; padding: 0;}
.invoice-box .broad p{ font-size: 10px; margin: 0; padding: 8px 4px 4px; }

.yourbillarea {margin: 0; padding: 0 0 15px; width: 100%; float: left;}
.yourbillarea h3{margin: 0 0 15px; padding: 5px; font-size: 12pt; color: #fff; background-color: #000000;}
.yourbillarea .yourBill{float: left; width: 500px; margin: 0; padding: 0;}
.yourbillarea .yourBill ol{margin: 0 0 0 18px; padding: 0;}
.yourbillarea .yourBill ol li{ font-size: 9pt; line-height: 18px; margin-top: 5px; }
.yourbillarea .yourBill ol li:first-child{margin-top: 0px;}

.pdfimg{float: right;}

.howtopay{float:left; width: 100%; padding: 0;}
.howtopay .payblockone{float: left; width: 438px; margin: 0 20px 0 0; padding: 0; min-height: 100px;}
.howtopay .payblock{float: left; width: 438px; margin: 0; padding: 0; min-height: 100px;}
.howtopay p{font-size: 9pt; line-height: 18px; margin: 0; padding: 0;}
.howtopay p img{float: left; margin: 0 8px 8px 0;}

.contBlock{float:left; width: 100%; padding: 0; margin-bottom: 30px;}
.contBlock h3{margin-bottom: 5px;}
.contBlock .contLeft{float: left; width: 438px; margin: 0 20px 0 0; padding: 0;}
.contBlock .contRight{float: left; width: 438px; margin: 0; padding: 0;}
.contBlock p{font-size: 9pt; line-height: 18px; margin: 0; padding: 0;}
